1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a
file named test.txt.

In [14]:
test1='This is a test of the emergency text system,'
with open('test.txt','w') as file:
    file.write(test1)
    file.close

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [15]:
with open('test.txt','r') as file:
    test2=file.read()
    
print(test2)
print(test1==test2)

This is a test of the emergency text system,
True

There is no difference between test 1 and test 2 as seen above

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [16]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
    file.write(data)
    
with open('books.csv','r') as file:
    reading=file.read()
    
print(reading)

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [17]:
# another approach

In [14]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('Books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)
    
with open('Books.csv','r',newline='') as file:
    for line in file.readlines():
        print(line)

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [18]:
import sqlite3
db=sqlite3.connect('books.db')
cur=db.cursor()
cur.execute('CREATE TABLE books (title text,author text, year int)')
db.commit
db.close()

5. Read books.csv and insert its data into the book table.

In [19]:
import sqlite3
import csv
db=sqlite3.connect('books.db')
cur=db.cursor()
with open('books.csv','r') as file:
    books=csv.DictReader(file)
    for book in books:
        cur.execute('INSERT INTO books VALUES (?,?,?)',(book['title'],book['author'],book['year']))
db.commit()
db.close()

6. Select and print the title column from the book table in alphabetical order.

In [20]:
import sqlite3
db=sqlite3.connect('books.db')
cur=db.cursor()
output=cur.execute('SELECT title FROM books ORDER BY title ASC')
for elem in output:
    print(elem[0])
db.commit()
db.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [21]:
import sqlite3
db=sqlite3.connect('books.db')
cur=db.cursor()
output=cur.execute('SELECT * FROM books ORDER BY year')
for row in output:
    print(row)
db.commit()
db.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [22]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.

In [10]:
! python -m pip install redis

Requirement already satisfied: redis in c:\users\admin\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\admin\anaconda3\lib\site-packages (from redis) (4.0.3)

DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

10. Increment the count field of test and print it.